<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<array>
			<string>AppIconPride</string>
			<string>AppIconLight</string>
			<string>AppIconDefault</string>
		</array>
		<key>CFBundlePrimaryIcon</key>
		<string>App Icon</string>
	</dict>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
		<string>sv</string>
		<string>fr</string>
		<string>pl</string>
		<string>pt</string>
		<string>ja</string>
		<string>vi</string>
		<string>es</string>
		<string>it</string>
		<string>ro</string>
		<string>tr</string>
		<string>zh</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
</dict>
</plist>
